body{
    /*background-color: cadetblue;*/
    font-family: Poppins, sans-serif;
    font-size: 9px;
}
.wrapper
{
    /*base width - 1720 x - 0.7*/
    width: 1400px;
    min-height: 40px;
    margin: 0 auto;
}
body>div:nth-child(2n+7)
{
    background-color: dimgray;
}

/*section1*/
.section1{
    background: white;
}
.nav_container
{
    background-color: white;
    /*height: 100%;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Poppins, sans-serif;
}
.logo
{
    display: flex;
    align-items: center;
    height: 100%;
    width: 300px;
    background-color: white;
    padding: 10px 0 20px;
    margin-top: 28px;
    margin-bottom: 20px;
}
.menu{
    display: flex;
    justify-content: space-between;
    height: 100%;
    background-color: white;
}
.logo img
{
    width: 25px;
    height: 25px;
    padding: 6px;
}
.menu ul{
    display: flex;
    align-items: center;
    font-weight: 10;
    font-family: inherit;
}
.menu li{
    font-size: 1.2em;
    display: block;
    padding-left: 32px;
    cursor: pointer;
}

.sign-up{
    background-color: black;
    border-radius: 5px;
    color: white;
    /*font-size: 1.2em;*/
    height: 30px;
    width: 70px;
    cursor: pointer;
}

.logo span
{
    font-family: inherit;
    font-size:30px;
    font-weight: 900;
    letter-spacing: 0.03em;
    color: #000000;
    padding-left: 7px;
}

/*section2*/
.section2{
    background-color: white;
}
.section2>div{
    display: flex;
    background-color: #F4F6F5;
    border-radius: 40px;
    height: 500px;
    margin-bottom: 30px;
}
.left-side{
    display: flex;
    flex: 5;
    flex-direction: column;
    padding: 40px 0 0 56px;
    position: relative;
}
.left-side span:not(:last-child){
    font-weight: 900;
    font-size: 5em;
    line-height: 1.2em;
}
.left-side span>img.top-rectangle{
    position: absolute;
    top: 40px;
    left:50px;
    z-index: -10;
    height: 60px;
    width: 250px;
}
.left-side span:nth-child(1){
    z-index: 1;
}
.left-side span:nth-child(2){
    z-index: 1;
}
.left-side span:nth-child(3){
    z-index: 1;
}
.left-side span>img.bottom-rectangle{
    z-index: -10;
    position: absolute;
    top: 145px;
    left: 50px;
    height: 60px;
    width: 280px;
}
.left-side span:nth-child(5){
    flex-direction: row;
    line-height: 5em;
    font-size: 20px;
    font-weight: 400;
    width: 400px;
}
.left-side-bottom>img{
    position: absolute;
    bottom: 80px;
    left: 50px;
    width: 120px;
    height: 30px;
    transform: rotate(180deg);
}
.left-side-bottom>button{
    position: absolute;
    left: 200px;
    bottom: 70px;
    background-color: black;
    color: white;
    width: 160px;
    height: 60px;
    border-radius: 5px;
    font-size: 23px;
    cursor: pointer;
}
.right-side{
    position: relative;
    flex: 6;
}
.right-side img:nth-child(1){
    position: relative;
    width: 500px;
    height: 450px;
    bottom: -5em;
    left: 15em;
    border: 1px solid black;
}
.right-side img:not(:nth-child(1))
{
    width: 32px;
}
.right-side img:nth-child(2)
{
    position: absolute;
    left: 14em;
    top: 4.5em;
}
.right-side img:nth-child(3)
{
    position: absolute;
    right: 23em;
    top: 8em;
}
.right-side img:nth-child(4)
{
    position: absolute;
    right: 11em;
    bottom: 7em;
}
.right-side img:nth-child(5)
{
    position: absolute;
    left: 18em;
    bottom: 3em;
}

/*section3*/
.section3{
    /*background-color: gray;*/
    /*width: 1600px;*/
}
.section3>div{
    width: 1600px;
    background-color: #EBD96B;
}
.section3 img{
    height: 45px;
}
.section3 ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 38px 38px;
}
.section3 li{
    display: block;
}

@media (min-width: 600px) and  (max-width: 1200px) {
    body{
        background-color: salmon;
    }
    .wrapper{
        width: 900px;
    }
}

@media (max-width: 900px) {
    body{
        background-color: yellow;
    }
    .wrapper{
        width: 450px;
    }
    .section3 img{
        height: 25px;
    }
}

/*section4*/
.section4{
    background-color: white;
}
.header{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 150px;
    position: relative;
    background-color: white;
}
.header span{
    z-index: 10;
    font-family: inherit;
    font-size:30px;
    font-weight: 900;
    letter-spacing: 0.03em;
    color: #000000;
    padding-left: 7px;
}
.header img{
    position: absolute;
    z-index: 0;
    left: 160px;
    top: 70px;
    height: 30px;
    width: 120px;
    transform: rotate(-1deg);
}
.products{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    background-color: white;
}
.card{
    display: block;
}
.card img{
    width: 350px;
    cursor: pointer;
}
.card>div img{
    width: 20px;
}
.card>div .headline{
    font-weight: 600;
    font-size: 20px;
    padding-top: 28px;
}
.card>div .explore{
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    padding-top: 10px;
}
.bottom-line{
    display: flex;
    flex-direction: column;
    position: relative;
}
.card>div .arrow{
    position: absolute;
    left: 325px;
    top:40px;
    cursor: pointer;
}
/*section 5*/
.section5>div{
    width: 1600px;
}
.payday{
    display: flex;
    height: 588px;
    background: linear-gradient(1.32deg, #E0C340 0.13%,
    #DFC23E 3.97%, #E1C441 7.2%, #E3C743 10.13%,
    #E4C542 12.98%, #E6C744 15.99%, #E7C845 19.52%,
    #E5C643 23.96%, #E6C945 30.43%, #E3C743 36.49%,
    #E9CA48 42.49%, #EDCE49 49.35%, #F0D44C 55.42%,
    #F4D84F 61.43%, #F6DA52 65.74%, #F7DB53 72.23%,
    #F9DD55 77.43%, #F9DF56 83.84%, #FAE157 91.52%,
    #F9DF56 97.87%)

}
.wishing{
    flex: 5;
    position: relative;
    /*padding-right: 10em;*/
}
.wishing img:nth-child(1){
    position: relative;
    /*top: 0;*/
    width: 70em;
    height: 65.3em;
    /*bottom: 0;*/
    /*border: 1px solid black;*/
}
.wishing img:not(:nth-child(1)){
    width: 50px;
}
.wishing img:nth-child(2){
    position: absolute;
    left: 10em;
    top: 8em;
    transform: rotate(-20deg);
}
.wishing img:nth-child(3){
    position: absolute;
    right: 7em;
    top: 7em;
    transform: rotate(-25deg);
}
.wishing img:nth-child(4){
    position: absolute;
    right: 6em;
    bottom: 15em;
    transform: rotate(-25deg);
}
.wishing img:nth-child(5){
    position: absolute;
    left: 13em;
    bottom: 25em;
    transform: rotate(-25deg);
}
.sale-now{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 5;
    padding-top: 10em;
    padding-left: 52em;
    background: linear-gradient(1.32deg, #E0C340 0.13%,
    #DFC23E 3.97%, #E1C441 7.2%, #E3C743 10.13%,
    #E4C542 12.98%, #E6C744 15.99%, #E7C845 19.52%,
    #E5C643 23.96%, #E6C945 30.43%, #E3C743 36.49%,
    #E9CA48 42.49%, #EDCE49 49.35%, #F0D44C 55.42%,
    #F4D84F 61.43%, #F6DA52 65.74%, #F7DB53 72.23%,
    #F9DD55 77.43%, #F9DF56 83.84%, #FAE157 91.52%,
    #F9DF56 97.87%)
}
.sale-now span:nth-child(1){
    font-weight: 900;
    font-size: 6em;
    line-height: 1.2em;
    z-index: 1;
}
.sale-now span:nth-child(2){
    font-weight: 900;
    font-style: normal;
    font-size: 6em;
    line-height: 1.2em;
}
.sale-now span>img.top-rectangle {
    position: absolute;
    top: 5rem;
    right: 16rem;
    z-index: -10;
    height: 5rem;
    width: 16rem;
}
.sale-now p.spend{
    display: block;
    font-size: 2em;
    margin-bottom: 0;
}
.sale-now p.off{
    display: block;
    font-size: 2em;
    margin-top: 5px;
}
.sale-now span.decade{
    font-size: 2.2em;
    font-weight: 900;
}
.sale-now span.terms{
    font-size: 2em;
    padding-top: 5px;
}
.sale-now-bottom button{
    /*position: absolute;*/
    /*left: 5em;*/
    /*bottom: 7em;*/
    background-color: black;
    color: white;
    width: 160px;
    height: 60px;
    border-radius: 5px;
    font-size: 2em;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 25px;
}
/*section 6*/
.section6{
    background-color: white;
}
/*.section6>div{*/
/*    width: 1600px;*/
/*}*/
.header6{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 150px;
    position: relative;
    background-color: white;
    padding: 15px;
}
.header6 span{
    z-index: 10;
    font-family: inherit;
    font-size:30px;
    font-weight: 900;
    letter-spacing: 0.03em;
    color: #000000;
    /*padding-left: 50px;*/
}
.header6 img{
    position: absolute;
    z-index: 0;
    left: 23em;
    top: 10.5em;
    height: 25px;
    width: 120px;
    transform: rotate(1deg);
}
.products6{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    background-color: white;
}
/*.card6{*/
/*    display: block;*/
/*}*/
.card6 img{
    width: 75em;
    cursor: pointer;
}
.card6>div img{
    width: 20px;
}
.card6>div .headline6{
    font-weight: 700;
    font-size: 20px;
    padding-top: 28px;
}
.card6>div .explore6{
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    padding-top: 10px;
}
.bottom-line6{
    display: flex;
    flex-direction: column;
    position: relative;
}
.card6>div .arrow6{
    position: absolute;
    right: 1em;
    top:40px;
    cursor: pointer;
}